#cloud-config
password: atomic
ssh_pwauth: True
chpasswd: { expire: False }
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClwKDBHBljIByJw6vMVOKiUV86D5VJqY4LlwCRHfWIaUTU9cQEs0uhmdDQF8YSVcYSYGRMZ5aYUskGVSBvtcXHDjHm6Fb/iLGueC2k4mfSFNllK5YxHNnTB2BOe833XTmUn3FW/bwRZxX1XsSCh+VBxvM54IjFBkD0t+OGogblJVu866lwpfsFILx75kL8ZRWiamWfswirl1DAEXxfc/UFCRF+4xc1Cft3sdnZn3JLHiN62/R6rQ0sDe5gagn4zOznf0aN8NN7jvILV1nO/ALsj3N+5gXtWi7f3OBiKG21o1emDSjVBxOJJq3VF7kLxkRUanbXWicxXUUxKx6yJ2kn norbert@devstack
